*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background: url(./photos/519-background.jpg) center fixed no-repeat;
    /*height: 2000px;*/
    /*background-color: #0BCCFF;*/
}
/*********************头部*****************************/
#header{
    height: 60px;
    width: 100%;
    background-color: #2c3e50;
    position: fixed;
    /*display: flex;*/
    text-align: center;
    z-index: 999;


}
#header img{
    width: 90px;
    height: 60px;

}



/**********************头部结束 结束*************************/
#section{
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-top: 0;*/
    /*height: 1940px;*/
    width: 100%;
}

/**********************左边*******************************/
#section .section-left{
    width: 220px;
    height: 100%;
    margin-top: 60px;
    background-color: rgba(0,0,0,.3);
    position: fixed;
}
#section .section-left .left-div1{
    width: 100%;
    height: 90px;
    /*background-color: red;*/
}
#section .section-left .left-div1 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 15px;
    left: 25px;
}
#section .section-left .left-div1 .left-div1-div{
    float: left;
    position: absolute;
    left: 100px;
    top: 20px;
}
#section .section-left .left-div1 .left-div1-div a{
    font-size: 14px;
    color: #fff;
}
#section .section-left .left-div1 .left-div1-div p{
    font-size: 12px;
    color: #8b8e99;
    line-height: 20px;
}
#section .section-left .left-div2{
    color: hsla(0,0%,100%,.85);
    font-size: 14px;
}
#section .section-left .left-div2 p{
    height: 56px;
    line-height: 56px;
    cursor: pointer;
    margin-left: 25px;
}
#section .section-left .left-div2 p:hover{
    background-color: rgba(0,0,0,.3);
}
/*********************左边 结束*********************/


/***********************中间***********************/
.section-center{
    position: relative;
    width: 100%;
    /*height: 1940px;*/
    /*text-align: center;*/
    /*margin: 0 auto;*/

}
.section-center .center-div1{
    position: absolute;
    top:100px;
    width: 100%;
    height: 120px;
    text-align: center;

}
.section-center .center-div1 img{
    width: 500px;
    height: 60px;
    margin-bottom: 15px;
    /*margin: 0 auto;*/
    /*display: block;*/
}
.section-center .center-div1 p{
    color: #fff;
    cursor: default;
}


.section-center .center-div2{
    width: 920px;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    /*text-align: center;*/
    top: 220px;
    left: 299.5px;
    margin-bottom: 30px;

}



.section-center .center-div2 .center-div2-div1{
    width: 869.5px;
    height: 452px;
    position: absolute;
    top: 20px;
    left: 25.5px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.section-center .center-div2 .center-div2-div1 img{
    width: 869.5px;
    height: 252px;
}
.section-center .center-div2 .center-div2-div1 .wenzi {
    height: 180px;
    width: 829.5px;
    margin-top: 20px;
    position: absolute;
    left: 20px;
}
.section-center .center-div2 .center-div2-div1 .wenzi .p1{
    color: #fff;
    font-size: 24px;
    line-height: 40px
}
.section-center .center-div2 .center-div2-div1 .wenzi .p2{
    color: rgba(255, 255, 255, 0.8);
    line-height: 25px;
}
.section-center .center-div2 .center-div2-div1 .wenzi .p3{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
}



.section-center .center-div2 .center-div2-div2{
    width: 869.5px;
    height: 452px;
    position: absolute;
    top: 512px;
    left: 25.5px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.section-center .center-div2 .center-div2-div2 img{
    width: 869.5px;
    height: 252px;
}
.section-center .center-div2 .center-div2-div2 .wenzi1 {
    height: 180px;
    width: 829.5px;
    margin-top: 20px;
    position: absolute;
    left: 20px;
}
.section-center .center-div2 .center-div2-div2 .wenzi1 .p1{
    color: #fff;
    font-size: 24px;
    line-height: 40px
}
.section-center .center-div2 .center-div2-div2 .wenzi1 .p2{
    color: rgba(255, 255, 255, 0.8);
    line-height: 25px;
}
.section-center .center-div2 .center-div2-div2 .wenzi1 .p3{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
}
/**********************中间 结束*******************/



/*********************右边 **************************/
.section-right{
    width: 220px;
    height: 100%;
    position: fixed;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);

}

/*******************右边 结束*************************/